.post {
    background: white;
    margin: 2em auto;
    max-width: 50rem;
    padding: 2em 0;
    box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);
}

.post > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  padding: 0 1em;
}

.post > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 1em;
  text-align: center;
}

.post p {
  text-align: justify;
  text-indent: 1.3em;
  text-justify: inter-word;
}

.post p:first-of-type,
.post h2 + p {
  text-indent: 0;
}

.post a:hover {
  background: $highlight;
}

.post dl,
.post ul,
.post ol {
  margin: 1em;
  margin-top: 0;
}

.post li {
  margin-left: 0.5rem;
}

.post-content:first-child {
  margin-top: 3em;
}

.post-meta {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: right;
}

.back-link {
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.user-input{
  margin-top: 2em;
}

#gem-wrapper {
  display: none;
  justify-items: center;
  background-color: #1b3c1f;
  padding: 6% 12% 6%;
  max-width:66%;
  margin: 2em auto 0;
  border-radius: 12px;
}

.gem-msg {
  display: block;
  max-width: 60%;
  margin: 0 auto 2em;
  text-align: center;
  color: white;
}

.gem-msg em {
  color: white;
}

.gem-link {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  border-radius: 12px;
  background-color: black;
  transform: translateY(-2%);
  will-change: transform;
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.post .gem-link:hover {
  transform: translateY(-3.5%);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1);
  background-color: black;
}

.post .gem-link:active {
  transform: translateY(-1%);
  transition: transform 60ms;
}

.post .gem-link:focus {
  outline: none;
}

.gem-img {
  object-fit: contain;
  padding: 12%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
  background-color: black;
}

.gradient-border {
  display: flex;
  margin: auto;
  max-width: 240px;
  aspect-ratio: 1;
  border-radius: 12px;
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
