body {
  background: $brand-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.2em;
}
  
h1 {
  font-size: 3em;
  margin: .5em auto;
}
  
h2 {
  font-size: 2em;
  margin: 1em auto;
  // text-align: center;
}
  
h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0.5em auto;
  // text-align: center;
}
  
h4 {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.875em auto;
  // text-align: center;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin: 2em auto;
  // text-align: center;
}

h6 {
  font-size: .875em;
  font-style: italic;
  margin: 2.25em auto;
  // text-align: center;
}

em {
  font-weight: 800;
  text-shadow:1px 1px 5px #dfe21d, 1px 1px 10px #f1e977;
  color: #1b3c1f;
}

i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: $text-color;
}

a:focus {
  outline: 1px dashed $text-color;
}

blockquote {
  margin: 2em auto;
  opacity: .8;
  > * {
    padding: 0 3em;
  }
}

blockquote.epigraph {
  font-style: italic;
}

small {
  font-size: .75em;
}

p > cite {
  display: block;
  text-align: right;
}

hr {
  border: 0;
  height: 0;
  @include divider;
  margin: 4em 0;
}

img {
  display: flex;
  max-width: 100%;
  // height: auto;
  // margin: 2em auto;
}

figure img {
  margin: 2em auto 1em;
}

figcaption {
  font-size: .875em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
  opacity: .7;
}

.divided::after {
  content: "";
  @include divider;
}

.home {
  max-width: 24em;
  margin: auto;
  padding: 0.5em;
}

.content-title {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.post-date {
  color: $muted-text-color;
  display: block;
  font-size: .825em;
  white-space: nowrap;
  text-transform: uppercase;
  .post-link & {
    padding: .5em 0;
  }
}

.intro {
  display: block;
  border: dashed 2px black;
  background-color: white;
  // background-color: transparent;
  // color: white;
  max-width: 24em;
  margin: 1.5em auto; 
  padding: 1em;
  // transition: background-color 1s linear;
  text-decoration: none;
  text-align: center;
}

.intro em {
  color: white;
}

// .secret:hover {
  // background-color: #1b3c1f;
  // transition: background-color 1s linear;
// }

// .secret p {
//   visibility: hidden;
//   opacity: 0%;
//   transition: visibility 0s linear 1s, opacity 1s linear;
// }

// .secret:hover p {
//   visibility: visible;
//   opacity: 100%;
//   transition-delay: 0s;
// }

.site-credits {
  margin: 0 auto 2em;
  padding: 0 2em;
  text-align: center;
}

.skip-navigation {
  background: $brand-color;
  border: 1px dashed transparent;
  display: block;
  font-size: .875em;
  font-weight: 700;
  margin-top: -2.625rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: lighten($brand-color, 2.5%);
    border-color: $text-color;
    margin-top: 0;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html { 
  overflow-y: scroll; 
  scroll-behavior: smooth;
}
