#gem-wrapper {
    display: grid;
}

#puzzle1 {
    cursor: grab;
    display: grid;
    max-width: 240px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid thin black;
}

#puzzle1 > .notDraggable {
    cursor: default;
    background: transparent;
}

#puzzle1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin black;
    aspect-ratio: 1;
    /* background-color: #cecece; */
}

#submit1 {
    height: 100%;
    border-radius: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.usr-msg {
    margin: 0.6em auto 1.2em;
}