#gem-wrapper {
    display: grid;
}

#part2 {
    display: block;
}

.elevators {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    margin: 0 auto 0;
}

#elevators button {
    height: 24px;
}

button.top {
    background-color: skyblue;
    color: black;
}

button.bot {
    background-color: black;
    color: white;
}

.instructions-wrapper {
    display: flex;
    justify-content: right;
}

.messages {
    display: flex;
    column-gap: 3px;
    margin: 0.6em auto 1.2em;
}

.messages2 {
    display: grid;
    grid-template-columns: fit-content(60px) 1fr fit-content(120px);
    justify-content: center;
    column-gap: 3px;
    margin: 0.6em auto 0.6em;
}

#check-elevators {
    margin-left: auto;
}

#elevator-feedback {
    margin: auto;
}

#elevator2-feedback {
    margin: auto;
    min-width: 90%;
}

.bomb {
    background-color: #ffcccc;
    color: black;
}

.safe {
    background-color: #88ff88;
    color: black;
}