.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 36px);
    max-width: 80%;
    margin: 1em auto 1em;
}

.buttons button {
    width: 100%;
    user-select: none;
}

/* .reset {
    display: block;
    margin: auto;
} */

.controls{
    display: flex;
    column-gap: 6px;
    justify-content: center;
}

.controls span {
    border: solid thin black;
    padding: 2px 0.8em 2px;
    font-size: small;
    font-family: 'Roboto Mono', monospace;
    align-items: center;
    text-align: center;
}

.controls .total {
    font-weight: bold;
    min-width: 120px;
}

#puzzle2 {
    display: none;
    margin-top: 3em;
}

#puzzle2 .buttons {
    grid-template-rows: repeat(6, 36px);
}