.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 36px);
    max-width: 80%;
    margin: 1em auto 1em;
}

.total {
    font-weight: bold;
}

#puzzle2 {
    display: none;
    margin-top: 3em;
}

#puzzle2 .buttons {
    grid-template-rows: repeat(6, 36px);
}
