#gem-wrapper {
    display: none;
}

#part2 {
    display: none;
}

.puzzle {
    cursor: grab;
    display: grid;
    margin: 1.2em auto 0;
    border: solid thin black;
}

#puzzle1 {
    max-width: 42%;
    grid-template-columns: 1fr 1fr 1fr;
}

#puzzle2 {
    max-width: 70%;
    grid-template-columns: repeat(5, 1fr);
}

.puzzle > .notDraggable {
    display: flex;
    align-items: center;
    cursor: default;
    overflow: hidden;
    border: none;
}

.puzzle > .top {
    box-sizing: border-box;
    border-top: solid thin black;
}

.puzzle > .left {
    box-sizing: border-box;
    border-left: solid thin black;
}

.puzzle > .right {
    box-sizing: border-box;
    border-right: solid thin black;
}

.puzzle > .bot {
    box-sizing: border-box;
    border-bottom: solid thin black;
}

.puzzle > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin black;
    aspect-ratio: 1;
    /* background-color: #cecece; */
}

.puzzle button {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
}

.usr-msg {
    margin: 0.6em auto 1.2em;
}

.audio-wrapper {
    display: flex;
    align-items: center;
}

audio {
    width: 100%;
    margin: auto;
    display: none;
}